mixin popular(img, name, place, bedroom, dining, bathroom, price)
  .property-card
    img.property-card__photo(src= img alt= name+' preview photo')
    .property-card__body
      .property-card__header 
        h3.property-card__name= name
        .property-card__like.icon-font.icon-font_heart 
      p.property-card__place= place
      ul.property-card__description 
        li.property-card__element.property-card__element_bedroom= bedroom
        li.property-card__element.property-card__element_dining= dining
        li.property-card__element.property-card__element_bathroom= bathroom
      .property-card__footer
        p.property-card__price= price
        a(href='#').button.property-card__details-btn View Details

mixin featured(img, header, description)
  .featured-card
    .featured-card__icon
      img(src= img)
    h3.featured-card__header= header
    p.featured-card__description= description

mixin review(photo, name, position, review)
  .review-card 
    .review-card__header 
      img.review-card__photo(src= photo)
      .review-card__person 
        p.review-card__person-name= name 
        p.review-card__person-position= position
    p.review-card__review-text= review

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Ruby Home
    link(rel='shortcut icon' href='./assets/img/favicon.ico' type='image/x-icon')
  body.site-wrapper
    include /blocks/header/header
    main.content-wrapper
      .background-picture 
      section.main-section 
        .main-section__description
          h1.main-section__header Find the perfect place to stay with your family
          a.main-section__search-btn_general.button(href='#') Search
          p.main-section__text Buying a home is a life-changing experience, so shouldn’t your real estate agent be a life changer.
          .main-section__overlay
            form(onsubmit="return false").main-section__search
              .main-section__search-options
                button.main-section__search-options-btn.main-section__search-options-btn_active Buy 
                button.main-section__search-options-btn Rent 
                button.main-section__search-options-btn Sell 
              .main-section__search-menu
                .main-section__dropdown.dropdown
                  .dropdown__header Location
                  p.dropdown__text Dhaka
                  ul.dropdown__list
                    li.dropdown__item Dhaka
                    li.dropdown__item Location 1
                    li.dropdown__item Location 2
                    li.dropdown__item Location 3
                    li.dropdown__item Location 4
                    li.dropdown__item Location 5
                    li.dropdown__item Location 6
                    li.dropdown__item Location 7
                    li.dropdown__item Location 8
                    li.dropdown__item Location 9
                    li.dropdown__item Location 10
                .main-section__dropdown.dropdown
                  .dropdown__header Property type
                  p.dropdown__text Duplex
                  ul.dropdown__list
                    li.dropdown__item Single-family houses
                    li.dropdown__item Condominiums
                    li.dropdown__item Cooperatives (Co-op)
                    li.dropdown__item Townhomes
                    li.dropdown__item Duplex
                    li.dropdown__item Triplex
                    li.dropdown__item Fourplex
                    li.dropdown__item Mobile homes
                .main-section__slider.slider
                  .dropdown__header.slider__header Price
                  p#slider-non-linear-step-value.dropdown__text $4000-$8000
                  .slider__container
                    #slider-non-linear-step
                button.main-section__search-btn.button Search
        img.main-section__img(src='./assets/img/main-section-img.jpg')
      section.partners-section
        h2.section-header.partners-section__header Our Partners 
        .partners-section__nav
          a.partners-section__link(href="#")
            img(src='./assets/img/biotech.svg')
          a.partners-section__link(href="#")
            img(src='./assets/img/express.svg')
          a.partners-section__link(href="#")
            img(src='./assets/img/smilehome.svg')
          a.partners-section__link(href="#")
            img(src='./assets/img/connect.svg')
          a.partners-section__link(href="#")
            img(src='./assets/img/homebuild.svg')
      section.popular
        .popular__header-container
          h2.section-header.popular__section-header Popular Properties
          a.popular__link(href="#") View all
        .popular__grid-container
          +popular('./assets/img/properties/capital-hill-residence.jpg', 'Capital hill residence', 'East London', 6, 2, 3, '5527.00') 
          +popular('./assets/img/properties/picket-fence-realty.jpg', 'Picket Fence Realty', 'East London', 6, 2, 3, '6727.00')
          +popular('./assets/img/properties/banyon-tree-realty.jpg', 'Banyon Tree Realty', 'East London', 6, 2, 3, '4327.00')
          +popular('./assets/img/properties/corsair-real-estate.jpg', 'Corsair Real Estate', 'East London', 6, 2, 3, '4427.00')
          +popular('./assets/img/properties/sequoia-real-estate.jpg', 'Sequoia Real Estate', 'East London', 6, 2, 3, '4527.00')
          +popular('./assets/img/properties/strive-partners-realty.jpg', 'Strive Partners Realty', 'East London', 6, 2, 3, '5527.00')
      section.featured
        h2.section-header.featured__section-header Property Featured
        p.featured__section-description Real estate is a crowded field. But with the number of buyers purchasing homes through real estate agents and brokers growing there’s plenty of 
        .featured__content
          .featured__grid-container.featured__grid-container_left
            +featured('./assets/img/security_ico.svg', '100% Security', 'For many of us, buying a home is a dre and one not easily attainable.')
            +featured('./assets/img/air_ico.svg', 'Free air conditioner', 'For many of us, buying a home is a dre and one not easily attainable.')
            +featured('./assets/img/garden_ico.svg', 'Flower garden', 'For many of us, buying a home is a dre and one not easily attainable.')
          img.featured__picture(src='./assets/img/feautured-img.jpg')
          .featured__grid-container.featured__grid-container_right
            +featured('./assets/img/parking_ico.svg', 'Parkers & movers', 'For many of us, buying a home is a dre and one not easily attainable.')
            +featured('./assets/img/furniture_ico.svg', 'Rental furniture', 'For many of us, buying a home is a dre and one not easily attainable.')
            +featured('./assets/img/pool_ico.svg', 'Swimming pool', 'For many of us, buying a home is a dre and one not easily attainable.')
      section.reviews
        a(href="#").reviews__link Reviews 
        h2.section-header.reviews__section-header Our valuable customer says
        .reviews__slider 
          .reviews__block.reviews__block_active
            +review('./assets/img/reviewers/jlee.jpg', 'Justin Lee', 'Products Designer at Ito', 'A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more money. Been there. Done that. Sold. Bought Bringing It All Together.')
            +review('./assets/img/reviewers/acathe.jpg', 'Angel Cathe', 'Products Designer at Ito', 'A good real estate agent doesn’t disappear once the closing IN signed.Buying a bigger home doesn’t necessarily mean spendi more money. Been there. Done that. Sold. Bought be Bringing It All Together there.')
          .reviews__block
            +review('./assets/img/reviewers/rev_1_m.jpg', 'Slide Two (First)', 'Web Designer', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
            +review('./assets/img/reviewers/rev_1_fem.jpg', 'Slide Two (Second)', 'Web Designer', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')          
          .reviews__block
            +review('./assets/img/reviewers/rev_2_m.jpg', 'Slide Three (First)', 'Web Developer', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
            +review('./assets/img/reviewers/rev_2_fem.jpg', 'Slide Three (Second)', 'Web Developer', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
          .reviews__block
            +review('./assets/img/reviewers/rev_3_m.jpg', 'Slide Four (First)', 'SEO Specialist', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
            +review('./assets/img/reviewers/rev_3_fem.jpg', 'Slide Four (Second)', 'SEO Specialist', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
          .reviews__slider-dots 
            .reviews__slider-dot.reviews__slider-dot_active
            .reviews__slider-dot
            .reviews__slider-dot
            .reviews__slider-dot
      section.subscribe
        h2.subscribe__header Get listed your home as a owner
        p.subscribe__text Here is a list of the greatest real estate company slogans of all-time. These catchy slogans are followed by the Greatest Real Estate.
        form.subscribe__form(action="#" method="get")
          input.subscribe__input(type="email", name="mail", placeholder="Enter email address") 
          button.subscribe__button.button(type="submit") Subscribe
    include /blocks/footer/footer